

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    
}


.all{
    padding: 20px;
}


.heading{
    font-size: 50px;

}

.joke{
    font-size: 20px;
    margin-bottom: 40px;

}

.jokeBtn{
    border: none;
    background-color: white;
    box-shadow: 10px 10px 0px black;
    width: 140px;
    height: 40px;
    border: 1px solid black;
    color: black;
    /* font-weight: 600; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;


}
